@model LanchesListViewModel
@{
    ViewData["Title"] = "List";

}

<h1>Lanches</h1>
<div> <h1>@Model.CategoriaAtual</h1></div>
<h1>@ViewData["Titulo"]</h1>

<h2>@ViewData["Data"]</h2>
<hr />
<h6>@ViewBag.Total @ViewBag.TotalLanches</h6>
<hr />
<hr />
<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <!--   comentei pra usar a partial view-->
            <!--
              <div>
                <h4>@lanche.Nome</h4>
                <p><img src="@lanche.ImagemUrl"></p>
                <h3>Preço : @lanche.Preco.ToString("c")</h3>
            </div>
            -->
            <partial name="_LanchesResumo" for ="@lanche" />
        }
    </div>
</div>

